anyio==4.12.1+computecanada
anysqlite==0.0.5+computecanada
archspec==0.2.5+computecanada
backports.tarfile==1.2.0+computecanada; python_version < '3.12'
blinker==1.9.0+computecanada
build==1.4.0+computecanada
cachecontrol==0.14.4+computecanada
cachy==0.3.0+computecanada
certifi==2026.1.4+computecanada
cffi==2.0.0+computecanada
charset_normalizer==3.4.4+computecanada
cleo==2.1.0+computecanada
clikit==0.5.1+computecanada
crashtest==0.4.1+computecanada
cryptography==46.0.3+computecanada
dep_logic==0.5.2+computecanada
distlib==0.4.0+computecanada
distro==1.9.0+computecanada
dulwich==1.0.0+computecanada
editables==0.5+computecanada
exceptiongroup==1.3.1+computecanada
f90nml==1.5.0+computecanada
fastjsonschema==2.21.2+computecanada
filelock==3.20.3+computecanada
findpython==0.7.1+computecanada
flit_core==3.12.0+computecanada
flit_scm==1.7.0+computecanada
h11==0.16.0+computecanada
hatch_fancy_pypi_readme==25.1.0+computecanada
hatchling==1.28.0+computecanada
hatch_vcs==0.5.0+computecanada
hishel==1.1.9+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
id==1.6.1+computecanada
idna==3.11+computecanada
importlib_metadata==8.7.1+computecanada
importlib_resources==6.5.2+computecanada
installer==0.7.0+computecanada
jaraco.classes==3.4.0+computecanada
jaraco_context==6.1.0+computecanada
jaraco_functools==4.4.0+computecanada
jeepney==0.9.0+computecanada
keyring==25.7.0+computecanada
keyrings.alt==5.0.2+computecanada
markdown_it_py==4.0.0+computecanada
maturin==1.8.1+computecanada; python_version < '3.13'
maturin==1.8.2+computecanada; python_version >= '3.13'
mdurl==0.1.2+computecanada
meson==1.10.1+computecanada
meson_python==0.19.0+computecanada
more_itertools==10.8.0+computecanada
msgpack==1.1.2+computecanada
nanobind==2.11.0+computecanada
ninja==1.11.1+computecanada
packaging==26.0+computecanada
pastel==0.2.1+computecanada
pathspec==1.0.4+computecanada
pbr==7.0.3+computecanada
pbs_installer==2026.2.3+computecanada
pdm==2.26.6+computecanada
pdm_backend==2.4.7+computecanada
pexpect==4.9.0+computecanada
pkginfo==1.12.1.2+computecanada
platformdirs==4.5.1+computecanada
pluggy==1.6.0+computecanada
poetry==2.3.2+computecanada
poetry_core==2.3.1+computecanada
poetry_plugin_bundle==1.7.0+computecanada
ptyprocess==0.7.0+computecanada
pybind11==3.0.1+computecanada
pycparser==3.0+computecanada
pygments==2.19.2+computecanada
pylev==1.4.0+computecanada
pyparsing==3.3.2+computecanada
pyproject_hooks==1.2.0+computecanada
pyproject_metadata==0.11.0+computecanada
python_dotenv==1.2.1+computecanada
pytoml==0.1.21+computecanada
rapidfuzz==3.13.0+computecanada
requests==2.32.5+computecanada
requests_toolbelt==1.0.0+computecanada
resolvelib==1.2.1+computecanada
rich==14.3.2+computecanada
scikit_build==0.18.1+computecanada
scikit_build_core==0.11.6+computecanada
secretstorage==3.5.0+computecanada
semantic_version==2.10.0+computecanada
setuptools==82.0.0+computecanada
setuptools_rust==1.12.0+computecanada
setuptools_scm==9.2.2+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
socksio==1.0.0+computecanada
toml==0.10.2+computecanada
tomli==2.4.0+computecanada
tomlkit==0.14.0+computecanada
trove_classifiers==2026.1.14.14+computecanada
truststore==0.10.4+computecanada
typing_extensions==4.15.0+computecanada
unearth==0.18.2+computecanada
urllib3==2.6.3+computecanada
virtualenv==20.36.1+computecanada
webencodings==0.5.1+computecanada
wheel==0.46.3+computecanada
woops==0.2.1+computecanada
zipp==3.23.0+computecanada
zstandard==0.25.0+computecanada
